<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body>
    <%- include('./layouts/header.ejs') %>

        <main>
            <div class="container">
                <div class="row">

                    <div class="col-lg-9">
                        <h2>Quản lý sản phẩm</h2>
                        <div class="table-responsive">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Giá sản phẩm</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let product of products){ %>
                                    <tr class="">
                                        <td scope="row"><%= product.productId %></td>
                                        <td><%= product.productName %></td>
                                        <td><%= product.productImg %></td>
                                        <td><%= product.productPrice %></td>
                                        
                                        <td><button class="btn btn-primary" onclick="editProduct('<%= product.productId %>')">Sửa</button></button></td>
                                        
                                        
                                        <td><button class="btn btn-danger" onclick="deleteProduct('<%= product.productId %>')">Xóa</button></td>                               
                                    </tr>
                                    <% }%>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <script>
            
            function editProduct(productId) {
        window.location.href = `/product-edit/${productId}`; // Chuyển hướng đến trang chỉnh sửa sản phẩm
    }
            function deleteProduct(productId) {
                if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                    fetch(`/delete-product/${productId}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload(); // Reload trang sau khi xóa thành công
                        } else {
                            throw new Error('Xóa sản phẩm không thành công');
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                    });
                }
            }
        </script>
        
        <%- include('./layouts/footer.ejs') %>
            <!-- Js Plugins -->
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.nice-select.min.js"></script>
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/jquery.slicknav.js"></script>
            <script src="js/mixitup.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/main.js"></script>
</body>

</html>